body{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(to bottom right, red, yellow);
	display: flex;
	align-items: center;
	justify-content: center;
}

form{
	background-color: white
	margin:100px;

}