body{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(to bottom right, red, yellow);
	display: flex;
	align-items: center;
	justify-content: center;
}

.formul{
	background-color: white;
	height:400px;
	width: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;

}